.ofertapp-button-primary {
    background-color: #00BF63 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 10px;
    margin-bottom: 10px;
    width: var(--width) !important;
    margin: auto !important;
}

.ofertapp-button-primary:hover {
    background-color: #009c51 !important;
    color: #fff !important;
}

.ofertapp-button-report {
    background-color: red !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 10px;
    margin-bottom: 10px;
}