.ofertapp-link-base {
    margin: auto;
}

.ofertapp-link-common {
    align-self: center;
    margin: auto;
}

.ofertapp-link-base a {
    padding: 0px !important;
    color: #000;
    text-decoration: none;
    font-size: var(--fontSize);
    font-weight: 600;
    align-self: center;

    font-family: 'Inter';
    font-style: "normal";
}

.ofertapp-link-common a {
    padding: 0px !important;
    color: #2AC11D;
    text-decoration: none;
    font-size: var(--fontSize);
    font-weight: 600;

    font-family: 'Inter';
    font-style: "normal";
}

.ofertapp-reputation {
    background-color: rgb(var(--reputationR),
            var(--reputationG),
            0) !important;
    color: #fff;
    font-size: var(--fontSize);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: "normal";
}

.ofertapp-user-info-tooltip>.tooltip-inner {
    border-style: solid;
    border-color: #000;
    background-color: #00BF63;
    border-radius: 10px;
}

.ofertapp-user-info-tooltip>.tooltip-arrow {}

.ofertapp-user-info-tooltip .ofertapp-user-info-profile-picture {
    border-radius: 10px;
    background-color: #fff;
    max-width: 100% !important;
    max-height: 200px !important;

    padding: 1px;
    z-index: 0;
}

.ofertapp-user-info-tooltip .ofertapp-user-info-text {
    font-size: 12px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border-style: solid;
    border-color: #00BF63;
    text-align: center;
    z-index: 1;
    margin: auto;
}