.ofertapp-page-title {
    font-size: 48px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.466);

    padding-bottom: 20px;
    padding-left: 40px;

    margin-bottom: 30px;

    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    font-family: 'Inter';
    font-style: "normal";
}

.ofertapp-registration-column {
    padding-right: 50px !important;
    padding-left: 50px !important;
    margin: auto;
}

.ofertapp-inspirational-message {
    color: #00BF63;
    font-size: 25px;

    font-family: 'Inter';
    font-style: "normal";

    font-weight: 700;
}

.ofertapp-div-hline {
    border-bottom-color: #00BF63;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    margin-top: 20px;
    margin-bottom: 20px;
}