.profilePreview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.label-style {
    font-family: 'Inter';
    font-style: "normal";
    margin-bottom: 30px;
}